/**
 * @file
 * Styles for guideline preview page.
 */

.guideline-preview-container {
  position: fixed;
  z-index: 499;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 36em) {
  .guideline-preview-container .form-type-select {
    margin-left: 25%; /* LTR */
  }
  [dir="rtl"] .guideline-preview-container .form-type-select {
    margin-right: 25%;
    margin-left: 0;
  }
}

.guideline-preview-container {
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  box-shadow: -36px 1px 36px rgba(0, 0, 0, 0.08); /* LTR */
}

[dir="rtl"] .guideline-preview-container {
  box-shadow: 36px 1px 36px rgba(0, 0, 0, 0.08);
}

body.toolbar-vertical.toolbar-tray-open .guideline-preview-container {
  max-width: calc(100vw - 15.875rem);
}

.guideline-preview-form-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

[dir="ltr"] .guideline-preview-backlink {
  margin-left: 0;
}

[dir="rtl"] .guideline-preview-backlink {
  margin-right: 0;
}

[dir="ltr"] .guideline-preview-backlink {
  margin-right: auto;
}

[dir="rtl"] .guideline-preview-backlink {
  margin-left: auto;
}

.guideline-preview-backlink {
  margin-top: 0.5625rem;
  margin-bottom: 0.5625rem;
}

.page-wrapper {
  padding-top: 75px;
}
